
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New Blog Post</h3>
  </div>
  <div class="panel-body">

<%= render 'form', blog_post: @blog_post %>



<button type="button" class="btn btn-default"><%= link_to 'Back', blog_posts_path %></button>


  </div>
</div>